.card {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;
    background-color: lightblue;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.5s;
}
  
  .flipped .card-front {
    transform: rotateY(180deg);
  }
  
  .flipped .card-back {
    transform: rotateY(0deg);
  }
  
  .card-front,
  .card-back {
    backface-visibility: hidden;
    img {
      height: 4vh;
      width: 5vw;
    //   margin-right: 8vw;
    }
    // position: fixed;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(-180deg);
    position: absolute;
    // margin-left: -9vw;
  }
  
  .unclickable {
    pointer-events: none;
  }

  .finished-card {
    background: lightgreen !important;
  }